<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [showSubtitle]="false" [showUnits]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">

            <!-- se podrian agregar imagenes con  [imageSrc]="'../image.png'" y [showImage]="true" -->
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [showSubtitle]="false" [showUnits]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">

            <!-- se podrian agregar imagenes con  [imageSrc]="'../image.png'" y [showImage]="true" -->
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [showSubtitle]="false" [showUnits]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">

            <!-- se podrian agregar imagenes con  [imageSrc]="'../image.png'" y [showImage]="true" -->
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [showSubtitle]="false" [showUnits]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">

            <!-- se podrian agregar imagenes con  [imageSrc]="'../image.png'" y [showImage]="true" -->
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [showSubtitle]="false" [showUnits]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">

            <!-- se podrian agregar imagenes con  [imageSrc]="'../image.png'" y [showImage]="true" -->
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [showSubtitle]="false" [showUnits]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="500">

            <!-- se podrian agregar imagenes con  [imageSrc]="'../image.png'" y [showImage]="true" -->
        </circle-progress>
    </div>
</div>