<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 textoProyecto">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat aliquid ea repellendus voluptas
                consequuntur, corrupti natus repellat quisquam iusto? Accusantium saepe amet exercitationem qui odit
                atque impedit ipsa doloremque officiis?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-7 offset-md-1 offset-lg-1 imagenProyecto">
            <img src="../../../assets/portfolio.png" alt="" class="img-fluid imgProyecto">

        </div>

    </div>
</div>