<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2> -
                <h4>Years</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, veniam similique voluptates, obcaecati
                magnam aspernatur facere earum tempore ad, eveniet adipisci quo amet recusandae minima delectus!
                Exercitationem quam fugit tempore.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 2</h2> -
                <h4>Years</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, veniam similique voluptates, obcaecati
                magnam aspernatur facere earum tempore ad, eveniet adipisci quo amet recusandae minima delectus!
                Exercitationem quam fugit tempore.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 3</h2> -
                <h4>Years</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, veniam similique voluptates, obcaecati
                magnam aspernatur facere earum tempore ad, eveniet adipisci quo amet recusandae minima delectus!
                Exercitationem quam fugit tempore.</p>
        </ul>
    </div>
</div>