<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../assets/logos/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="/login"><img src="../../assets/logos/linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../assets/logos/twitter.png" id="twitter"></a>
            <a href=""><img src="../../assets/logos/instagram.png" id="instagram"></a>
            <a href=""><img src="../../assets/logos/github.png" id="github"></a>
            <a href=""><img src="../../assets/logos/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light btn-sm mx-2" (click)="login()"
                *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light btn-sm mx-2" (click)="onLogOut()" *ngIf="isLogged">CERRAR
                SESION</button>
        </div>
    </div>
</div>