#logoApp {
    width: 150px;
}

@media (max-width: 575px) {


    .containerLogo {
        flex-direction: column;
    }

    #logoApp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}