<div class="row">
    <h1>Experiencia Laborar</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2>
                <h3>Years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, veniam similique voluptates, obcaecati
                magnam aspernatur facere earum tempore ad, eveniet adipisci quo amet recusandae minima delectus!
                Exercitationem quam fugit tempore.</p>
        </ul>
    </div>
</div>