<div class="row">
    <button type="button" class="btn btn-success" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar Persona
    </button>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="" id="fotoPerfil" src="{{persona.img}}">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <p></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <span>
            <h3>Acera de mi</h3>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>