<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="" id="fotoPerfil" src="../../../assets/photoPerfil.jpg">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Jr. Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acera de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quos eius ducimus similique quam minus,
                cumque amet error delectus doloremque eos dignissimos obcaecati omnis. Expedita aut voluptatibus
                inventore harum impedit.</p>
        </span>
    </div>